################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DBOperationWithEFCoreApp/.vs/DBOperationWithEFCoreApp/FileContentIndex/c75455a8-0a2f-4d84-ae5b-00a284e0a8e5.vsidx
